@import './variables';
.banner {
	padding: 100px 0;
	color: $colorWhite;
	background: url(assets/images/banner.jpg) no-repeat center center;
	background-size: cover;
	animation-duration: 4s;
	animation-delay: 2s;
}

.banner {
  h2{
   margin: 0;
   text-shadow: $textShadow2;
   font-size: 3em;
   color: #333;
   background: $bannerH2;
   padding: 5%;
  }
}

.banner-social-buttons {
	float: right;
	margin-top: 9px;
	padding-top: 3%;
	animation-duration: 2s;
	animation-delay: 1s;
}

.banner-heading {
	animation-delay: 1s;
	animation-duration: 3s;
}
