@import 'variables';

.bottom-menu {
	background: $bgGray;
	padding: 5px;
	border-bottom: 1px #ccc solid;
	border-top: 1px #ccc solid;
	overflow: auto;
}

.bottom-menu li {
	float: left;
	list-style: none;
	padding-right: 20px;
	font-size: 18px;
}