@import './variables';

.comments {
	border: 1px #ccc solid;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.comment ul {
	list-style-type: none !important;
}

.comments h3,
.comments h2 {
	background: transparent;
	color: #333;
	padding: 5px;
}

.comment-body {
	border: #ccc 1px solid;
	margin-bottom: 10px;
	padding: 20px 10px;
}

.comment-meta {
	background: transparent;
	padding: 10px;
	overflow: auto;
}

.comment-meta img {
	float: left;
	margin-right: 10px;
}

.comment-meta time {
	margin-left: 12px;
}

.comment-reply-link {
	background: transparent;
	display: inline-block;
	padding: 10px 15px;
}

.comment-form input,
.comment-form textarea {
	width: 100%;
	padding: 3px;
	border: #ccc 1px solid;
	margin-bottom: 20px;
}