@import './variables';

.modal {
	padding: 0 !important;
}

.modal .modal-dialog {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.modal .modal-content {
	border: 0 none;
	border-radius: 0;
	box-shadow: none;
}
.modal-footer {
	padding: 15px;
	text-align: center;
}

body:not(.modal-open) {
	padding-right: 0px !important;
}
