@import './variables';

.padtop-2 {
	padding-top: 2%;
}

.padtop-3 {
	padding-top: 3%;
}

.padtop-4 {
	padding-top: 4%;
}

.padtop-5 {
	padding-top: 5%;
}

.padtop-6 {
	padding-top: 6%;
}

.padtop-7 {
	padding-top: 7%;
}

.padtop-16rem {
	padding-top: 16rem;
}

.padbottom-5 {
	padding-bottom: 5%;
}

.padtop-10px {
	padding-top: 10px;
}

.padtop-20px {
	padding-top: 20px;
}

.padbottom-20px {
	padding-bottom: 20px;
}

.padtop-15 {
	padding-top: 15%;
}

.padbottom-15 {
	padding-bottom: 15%;
}

.pad-5 {
	padding: 5% 0;
}