// Defaults
$primary:#f5c50b !default;
$secondary:#366432 !default;
$colorDark:#191919 !default;
$colorWhite:#ffffff !default;
//Text
$headersH1H3:#ffffff;
$mainFontColor:#366432;
$textWhite:#ffffff !default;
$textGreen:#366432 !default;
$textGray:#f8f8f8 !default;
$textYellow:#f5c50b !default;
$textShadow:1px 1px 1px rgba(0, 0, 0, 0.6);
$textShadow2:2px 2px 3px rgba(0, 0, 0, 0.6);
$textNumbers: #ffffff;
$aHover:#1b3119;
$bannerH2:#e4d36ed4;
// Backgrounds
$whiteYellowBackground:#e4d36ed4;
$sectionWhiteBackground:#ffffff !default;
$bgGray:#f8f8f8 !default;
$bgDark:#191919 !default;
$bgWhite:#ffffff !default;
$bgYellow: #f5c50b !default;
// White Section
$WhiteSectionBackground: #f8f8f8;
// Gradient Body Background
$bodyBgRightBottom:#ffdf6d;
$bodyBgUpLeft:#f5c50b;
// Navbar
$navbar_li:#ffffff;
$navbarScrollBackground:#ffffff;
$navDropdownScrollBackground:#f8f8f8;
$menuHeaderLiColor:#366432;
$menuHeaderLiHoverColor:#f5c50b;
$menuHeaderLiHoverBg:#366432;
$navBarInvColap:#f5c50b;
$navbarBgColorMobile:#f5c50b;
$navbarTextColorMobile:#f5c50b;
//Shadows
$boxShadow:0px 1px 10px rgba(0, 0, 0, 0.4);






