//Text
$numbersIconsColor:#f5c50b;
$headersH1H3:#ffffff;
$mainFontColor:#366432;
$textWhite:#ffffff;
$textGreen:#366432;
$textGray:#f8f8f8;
$textYellow:#f5c50b;
$textShadow:1px 1px 1px rgba(0, 0, 0, 0.6);
$textNumbers: #ffffff;
$aHover:#1b3119;
// Backgrounds
$whiteYellowBackground:#e4d36ed4;
$sectionWhiteBackground:#ffffff;
$bgGray:#f8f8f8;
$bgDark:#191919;
$bgWhite:#ffffff;
$bgYellow: #f5c50b;
// White Section
$WhiteSectionBackground: #f8f8f8;
// Gradient Body Background
$bodyBgRightBottom:#ffdf6d;
$bodyBgUpLeft:#f5c50b;
// Navbar
$navbar_li:#ffffff;
$navbarScrollBackground:#ffffff;
$navDropdownScrollBackground:#f8f8f8;
$menuHeaderLiColor:#366432;
$menuHeaderLiHoverColor:#f5c50b;
$menuHeaderLiHoverBg:#366432;
$navBarInvColap:#f5c50b;
$navbarBgColorMobile:#f5c50b;
$navbarTextColorMobile:#f5c50b;
//Shadows
$boxShadow:0px 1px 10px rgba(0, 0, 0, 0.4);






